
<div class="panel panel-default">
  <form class="panel-body">
    <label for="name">Name: </label>
    <input type="text">

    <label for="height">Height: </label>
    <select class="" name="">
      <option>Tall</option>
      <option>Short</option>
    </select>

    <label for="gender">Gender: </label>
    <select class="" name="">
      <option>Male</option>
      <option>Female</option>
    </select>
    <button routerLink="/story-page1" class="btn btn-danger" type="submit" name="character-submit">Submit</button>
  </form>
</div>
